.logosection {
    background: url(../img/background.jpeg) no-repeat center fixed;
    height: 90vh;
    background-size: cover;
    object-position: 15% 100%;;
    max-width: 100%;
    margin: 0;
    padding-top: 80px;
    
  }
  
  .bajada-header {
    color: #ffffff;
    font-size: 2vh;
    font-weight: 300;
    margin-top: 20px;
    
    
    
  }
  .boxed {
    border: 1px solid #75f200;
    width: 60%;
    padding: 10px;
  }

  .logo {
    max-width: 40%;
    min-width: 40%;
    margin-bottom: 40px;
  }
  
  
  
  .button-contacto{
    color: #0086f6;
    background-color:white;
    border-color: white;
    
  }
  